@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Lexend-Thin';
  src: url('./assets/Lexend/static/Lexend-Thin.ttf') format('truetype');

}

@font-face {
  font-family: 'Lexend-Light';
  src: url('./assets/Lexend/static/Lexend-Light.ttf') format('truetype');

}

@font-face {
  font-family: 'Lexend-ExtraLight';
  src: url('./assets/Lexend/static/Lexend-ExtraLight.ttf') format('truetype');

}

@font-face {
  font-family: 'Lexend-Medium';
  src: url('./assets/Lexend/static/Lexend-Medium.ttf') format('truetype');

}

@font-face {
  font-family: 'Lexend-Regular';
  src: url('./assets/Lexend/static/Lexend-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Lexend-SemiBold';
  src: url('./assets/Lexend/static/Lexend-SemiBold.ttf') format('truetype');

}

@font-face {
  font-family: 'Lexend-Bold';
  src: url('./assets/Lexend/static/Lexend-Bold.ttf') format('truetype');

}

@font-face {
  font-family: 'Lexend-ExtraBold';
  src: url('./assets/Lexend/static/Lexend-ExtraBold.ttf') format('truetype');

}

@font-face {
  font-family: 'Lexend-Black';
  src: url('./assets/Lexend/static/Lexend-Black.ttf') format('truetype');

}

.opaque {
  background-color: black !important;
  color: #fff !important;
  opacity: 1 !important;

}

.swiper-fade .swiper-slide {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
}

.swiper-fade .swiper-slide-active {
  opacity: 1 !important;
  z-index: 1;
}